<section class="container text-center mt-5">

    <h1 class="mt-5 "><span class="badge badge-primary text-white mt-5">Productos IOT</span></h1>



    <div class="row row-cols-sm-1 row-cols-md-2 mt-3  m-2">


        <!--CARD WEMOS D1-->

        <div class="col-sm-12 col-md-6">
            <div class="card mb-6" style="max-width: 540px;">
                <div class="card no-gutters">
                    <div class="col-md-12">
                        <img src="../assets/wemosD1.jpg" class="card-img" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <!--FIN CARD WEMOS D1-->

        <!--CARD NODEMCU-->

        <div class="col-sm-12 col-md-6">
            <div class="card mb-6" style="max-width: 540px;">
                <div class="card no-gutters">
                    <div class="col-md-12">
                        <img src="../assets/NodeMCU V3 Lolin.jpg" class="card-img" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <!--FIN CARD NODEMCU-->

    </div>






</section>